// *** Imports *** \\
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// *** Variables *** \\

$color-base: #231f20;
$color-primary: #aa1e22;
$color-highlight: white;

$font-sansserif:'Raleway', Arial, Helvetica, sans-serif;
$font-serif: 'Roboto Slab', Georgia, serif;

$img-url: '../assets/images/';
$img-paper: 'OldPaperBG-RepeatXY-450.png';