header{
    // vertical-align: bottom;
    // a {
    //     vertical-align: -55px;
    //     text-align: right;
    // }
    nav{

    }
}
footer{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}