<div class="row">
    <div class="col-3 home-side">
        <div class="text-center"><img src="../../assets/images/Patricia.png" alt="Patricia" /></div>
        <p>    
            Hi! Mijn naam is <b>Patricia de Natris</b> en ik ben een <span class="s1">front-end developer</span> met affiniteit voor UX en UI design.
        </p><p>    
            Collega’s omschrijven mij als leergierig, sociaal, behulpzaam, een fijne collega om mee samen te werken en werkt secuur.
        </p>
    </div>
    <div class="col-8">
        <section>
            <h3>Showcase</h3>

        </section>
        <section>
            
        </section>
    </div>
</div>
